@import './variables.scss';


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}


body{
    margin: 0;
    font-family: $nunito;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
}



code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}




